.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  padding: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #1ebc5b;
    transform: scale(1.1);
    border: 2px solid whitesmoke;
  }
}
