.fullContainerCobertura {
  width: 80%;
  margin: auto;
  .imgCoberturaContainer {
    width: 80%;
    margin-inline: auto;
    margin-block: 5rem auto;
    margin-bottom: 2rem;
    .imgCobertura {
      display: grid;
      justify-content: center;
      max-width: 80%;
      margin-inline: auto;
      border-radius: 15px;
      box-shadow: 2px 2px 5px rgba(17, 44, 199, 0.784);
    }
  }

   p {
    text-align: center;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(17, 44, 199, 0.784);
  }
}

// !-------------------------------------------------------------------
// ! Responsive (Mobile First)
// !-------------------------------------------------------------------

@media (min-width: 576px) {
  .fullContainerCobertura {
    width: 75%;
    .imgCoberturaContainer {
      width: 75%;
    }
  }
}
@media (min-width: 768px) {
  .fullContainerCobertura {
    width: 70%;
    .imgCoberturaContainer {
      width: 70%;
    }
  }
}
@media (min-width: 992px) {
  .fullContainerCobertura {
    width: 65%;

    .imgCoberturaContainer {
      width: 65%;

      margin-top: 10rem;
    }
  }
}
