@use '../base/Settings' as *;

.footer-fixed {
  width: 100%;
  background-color: $color-secondary;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.social {
  color: white;
  font-size: 20px;
}

.social:hover {
  color: rgba(245, 245, 245, 0.4);
}
