@use '../base/Settings' as *;

.footer-fixed {
  width: 100%;
  background-color: $color-secondary;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-fixed:visited{
  color: white;
}

.social {
  color: white;
  font-size: 20px;
}

.social:hover {
  color: rgba(245, 245, 245, 0.4);
}

a i span {
  font-size: small;
  color: white;
  text-decoration: none;
}

a i span:hover {
  color: rgba(245, 245, 245, 0.4);
}

.redesSociales {
  width: 1.3rem;
  margin-right: 10px;
}