@use '../base/Settings' as *;

.footer-fixed {
  width: 100%;
  background-color: $color-secondary;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.social {
  color: white; /* Cambia el color de los íconos a blanco */
  font-size: 20px; /* Tamaño de los íconos */
}

/* Estilo para cuando el icono es hover (cuando pasas el mouse por encima) */
.social:hover {
  color: rgba(245, 245, 245, 0.4); /* Color ligeramente más claro al pasar el mouse */
}
