@use '../base/Settings' as *;

.containerForm {
  max-width: 70%;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(17, 44, 199, 0.784);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

label {
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

::placeholder {
  text-align: center;
}

.btn-form {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 40px;
  min-width: 160px;
}

.btn-form:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.btn-form:hover:not(:disabled) {
  background-color: #0056b3;
}

.resultadoCodigo {
  margin-top: 1rem;
  text-align: center;
  border-radius: 100px;
  border: 10px solid $color-third;
  border-left: none;
  border-right: none;

  h3 {
    padding: 1rem 2rem 0rem 2rem;
  }
  p {
    margin-bottom: 0;
    font-size: 2rem;
  }
}

.error {
  color: red;
  font-size: 0.8rem;
}

.payOnline {
  text-align: center;
  margin-top: 2rem;

  .captionPSE {
    width: 90%;
    margin: auto;

    p {
      font-variant: small-caps;
      font-size: 1.5rem;
    }
  }
  .videoPSE {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 0 4px $color-primary, 0 0 8px $color-primary, 0 0 12px $color-primary,
      0 0 32px $color-primary;

    // Animación parpadeo sutil
    animation: neonGlow 0.8s infinite alternate;
  }

  @keyframes neonGlow {
    from {
      box-shadow: 0 0 2.5px $color-primary, 0 0 5px $color-primary, 0 0 7.5px $color-primary;
    }
    to {
      box-shadow: 0 0 5px $color-primary, 0 0 10px $color-primary, 0 0 15px $color-primary,
        0 0 40px $color-primary;
    }
  }

  em {
    font-size: 0.9rem;
    font-weight: bold;
    color: $color-third;
  }

  .imagenPse {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    img {
      max-width: 70px;
      max-height: 70px;
      margin: 1rem;
      display: block;
      margin-top: 1rem;
    }
    .codigoQR {
      max-width: 200px;
      max-height: 200px;
      margin: 1rem;
      display: block;
    }
  }
}

span {
  font-size: 0.8rem;
  color: $color-third;
  margin-top: 1rem;
  text-decoration: underline;
}

// !-------------------------------------------------------------------
// ! Responsive (Mobile First)
// !-------------------------------------------------------------------

@media (min-width: 576px) {
  .containerForm {
    max-width: 40%;
  }
}
