@use '../base/Settings' as *;

.fullContainer {
  .imgHistoriaContainer {
    width: 80%;
    margin-inline: auto;

    .imgHistoria {
      display: grid;
      justify-content: center;
      max-width: 80%;
      margin-inline: auto;
      border-radius: 15px;
      box-shadow: 2px 2px 5px rgba(17, 44, 199, 0.784);
    }
  }
}

.texto {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  text-align: justify;
  h1 {
    text-align: center;
  }
}

// !-------------------------------------------------------------------
// ! Responsive (Mobile First)
// !-------------------------------------------------------------------

@media (min-width: 768px) {
  .fullContainer {
    .imgHistoriaContainer {
      width: 60%;
    }
  }
}
