@use '../base/Settings' as *;

.fullContainer {
  .imgHistoriaContainer {
    width: 80%;
    margin-inline: auto;

  }
}

.texto {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  text-align: justify;
  h1 {
    text-align: center;
  }
}

// !-------------------------------------------------------------------
// ! Responsive (Mobile First)
// !-------------------------------------------------------------------

@media (min-width: 768px) {
  .fullContainer {
    .imgHistoriaContainer {
      width: 60%;
    }
  }
}
