.fullContainerPrimaria {
  margin: auto;
  width: 80%;

  h1 {
    margin-top: 6rem;
  }

  .imgPrimariaContainer {
    margin-inline: auto;
    margin-bottom: 2rem;

    .imgPrimaria {
      display: grid;
      justify-content: center;
      max-width: 80%;
      margin-inline: auto;
      border-radius: 15px;
      box-shadow: 2px 2px 5px rgba(17, 44, 199, 0.784);
      transition: all 0.3s;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

// !-------------------------------------------------------------------
// ! Responsive (Mobile First)
// !-------------------------------------------------------------------

@media (min-width: 576px) {
  .fullContainerPrimaria {
    width: 90%;
    .imgPrimariaContainer {
      width: 90%;
      .imgPrimaria {
        &:hover {
          transform: scale(1.4);
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .fullContainerPrimaria {
    width: 80%;
    .imgPrimariaContainer {
      width: 80%;
    }
  }
}
@media (min-width: 992px) {
  .fullContainerPrimaria {
    h1 {
      margin-top: 10rem;
    }
    .imgPrimariaContainer {
      .imgPrimaria {
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
