@use '../base/Settings' as *;

// Texto principal
.backgroundContainerText {
  color: $color-secondary;
  display: grid;
  margin-inline: 2rem;

  h1,
  h2 {
    display: block;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    border: 1px transparent;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 40px;
    margin-top: 3rem;
  }

  h2 {
    font-size: 24px;
    margin-top: 2rem;
  }
}

// CardInformation
.card {
  color: $color-secondary;
  font-family: $font-primary;
  width: 65%;
  height: auto;
  margin: 2rem auto;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(17, 44, 199, 0.784);

  .groupList {
    color: $color-secondary;
    text-align: center;
    border: 1px solid $color-primary;
    border-radius: 25px;
    box-shadow: 2px 2px 5px $color-primary;
    width: 80%;
    margin: auto;

    &:hover {
      box-shadow: 2px 2px 5px $color-third;
    }
  }

  .boton {
    display: flex;
    width: 100px;
    height: 40px;
    margin: auto;
  }

  h5,
  p {
    margin: 1rem 0;
    text-align: center;
  }
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-secondary;
  margin-top: 1rem;
}

em {
  color: red !important;
}

// !-------------------------------------------------------------------
// ! Responsive (Mobile First)
// !-------------------------------------------------------------------

// TODO cambiar todo el aspecto desktop

@media (min-width: 576px) {
  .backgroundContainer {
    min-height: 80vh;
    width: 75%;
  }
}

@media (min-width: 768px) {
  .backgroundContainer {
    min-height: 100vh;
    width: 70%;
  }
  .circular {
    max-width: 55%;
    max-height: none;
  }

  .reporteAcademico {
    max-width: 50%;

    .groupList {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .recuperacion {
    max-width: 50%;

    .groupList {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .horariosRecuperacion {
    max-width: 55%;
    max-height: none;
  }
}

@media (min-width: 992px) {
  .backgroundContainer {
    min-height: 130vh;
    width: 65%;
  }
  .circular {
    max-width: 45%;
    max-height: none;
  }

  .reporteAcademico {
    max-width: 50%;

    .groupList {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .recuperacion {
    max-width: 50%;

    .groupList {
      grid-template-columns: repeat(4, 1fr);
    }
  }

    .horariosRecuperacion {
    max-width: 45%;
    max-height: none;
  }
}

@media (min-width: 1200px) {
  .backgroundContainer {
    min-height: 150vh;
    width: 65%;
  }
}

