@use '../base/Settings' as *;

// !---------------------------------------------------
// ! TEMPORAL
// TODO Eliminar después del dia de la familia

.fecha {
  top: 90px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
  
  .evento {
    width: 80%;
    border-radius: 5px;
    border: 2px solid $color-primary;
    border-radius: 12px;
    box-shadow: 0 0 4px $color-primary, 0 0 8px $color-primary, 0 0 16px $color-primary,
      inset 0 0 4px $color-primary;
  }
  .imgInscripciones {
    width: 80%;
    border-radius: 5px;
    border: 2px solid $color-third;
    border-radius: 12px;
    box-shadow: 0 0 4px $color-third, 0 0 8px $color-third, 0 0 16px $color-third,
      inset 0 0 4px $color-third;
  }
}

.imgInscripciones {
  display: none;
}

.infoInscripciones {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;

  h2,
  h3 {
    font-variant: small-caps;
  }

  li {
    list-style: none;
  }
}

// !---------------------------------------------------
// ! TEMPORAL
// TODO Eliminar después del dia de la familia

.fullContainer {
  margin-inline: auto;
  margin-top: 6rem;
  margin-bottom: 100px;

  .mainImages {
    width: 80%;
    margin: auto;
  }
  .backgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    max-width: 100%;
  }
}

// Texto principal
.backgroundContainerText {
  color: $color-secondary;
  display: grid;
  margin-inline: 2rem;

  h1,
  h2 {
    display: block;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    border: 1px transparent;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 40px;
    margin-top: 3rem;
  }

  h2 {
    font-size: 24px;
    margin-top: 2rem;
  }
}

// CardInformation
.card {
  color: $color-secondary;
  font-family: $font-primary;
  width: 65%;
  height: auto;
  margin: 2rem auto;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(17, 44, 199, 0.784);

  .groupList {
    color: $color-secondary;
    text-align: center;
    border: 1px solid $color-primary;
    border-radius: 25px;
    box-shadow: 2px 2px 5px $color-primary;
    width: 80%;
    margin: auto;

    &:hover {
      box-shadow: 2px 2px 5px $color-third;
    }
  }

  .boton {
    display: flex;
    width: 100px;
    height: 40px;
    margin: auto;
  }

  h5,
  p {
    margin: 1rem 0;
    text-align: center;
  }
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-secondary;
  margin-top: 1rem;
}

em {
  color: red !important;
}

// ! -------------------------------------------------------------
// ! Responsive (Mobile First)
// ! -------------------------------------------------------------

@media (min-width: 576px) {
  .fullContainer {
    .mainImages {
      width: 80%;
    }
    // Estilo carrusel
    .backgroundContainer {
      max-width: 100%;
    }
  }
  .card {
    max-width: 55%;
    max-height: none;
  }

  // !---------------------------------------------------
  // ! TEMPORAL
  // TODO Eliminar después del dia de la familia
  .fecha {
    img {
      width: 70%;
    }
  }
  // !---------------------------------------------------
}

@media (min-width: 768px) {
  .fullContainer {
    .mainImages {
      width: 50%;
    }
  }
  .card {
    max-width: 45%;
    max-height: none;
  }
}

@media (min-width: 992px) {
  .fullContainer {
    margin-top: 8rem;
  }

  .card {
    max-width: 35%;
    max-height: none;
  }
}

@media (min-width: 1200px) {
  .card {
    max-width: 30%;
    max-height: none;
  }

  // !---------------------------------------------------
  // ! TEMPORAL
  // TODO Eliminar después del dia de la familia

  .fecha {
    width: 80%;
    margin: auto;

    img {
      margin: 1rem;
    }

    .imgInscripciones {
      width: 300px;
      border-radius: 50%;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.15);
      }
    }

    .evento {
      margin-bottom: 2rem;
    }
  }

  .infoInscripciones {
    display: none;
  }

  .imgInscripciones {
    display: initial;
  }
  // !---------------------------------------------------
}
