@use '../base/Settings' as *;

.fullContainer {
  margin-inline: auto;

  .mainImages {
    width: 80%;
    margin: auto;
  }
}

// Texto principal
.backgroundContainerText {
  color: $color-secondary;
  display: grid;
  margin-inline: 2rem;

  h1,
  h2 {
    display: block;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    border: 1px transparent;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 40px;
    margin-top: 3rem;
  }

  h2 {
    font-size: 24px;
    margin-top: 2rem;
  }
}

// CardInformation
.card {
  color: $color-secondary;
  font-family: $font-primary;
  width: 65%;
  height: auto;
  margin: 2rem auto;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(17, 44, 199, 0.784);

  .groupList {
    color: $color-secondary;
    text-align: center;
    border: 1px solid $color-primary;
    border-radius: 25px;
    box-shadow: 2px 2px 5px $color-primary;
    width: 80%;
    margin: auto;

    &:hover {
      box-shadow: 2px 2px 5px $color-third;
    }
  }

  .boton {
    display: flex;
    width: 100px;
    height: 40px;
    margin: auto;
  }

  h5,
  p {
    margin: 1rem 0;
    text-align: center;
  }
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-secondary;
  margin-top: 1rem;
}

em {
  color: red !important;
}

// !-------------------------------------------------------------------
// ! Responsive (Mobile First)
// !-------------------------------------------------------------------

@media (min-width: 576px) {
  .fullContainer {
    .mainImages {
      width: 80%;
    }
    // Estilo carrusel
    .backgroundContainer {
      height: 60vh;
      img {
        max-height: 60vh;
      }
    }
  }
  .card {
    max-width: 55%;
    max-height: none;
  }
}

@media (min-width: 768px) {
  .fullContainer {
    .mainImages {
      width: 60%;
    }
  }
  .card {
    max-width: 45%;
    max-height: none;
  }
}

@media (min-width: 992px) {
  .fullContainer {
    .mainImages {
      width: 60%;
    }
    // Estilo carrusel
    .backgroundContainer {
      height: 80vh;
      img {
        max-height: 80vh;
      }
    }
  }

  .card {
    max-width: 35%;
    max-height: none;
  }
}

@media (min-width: 1200px) {
  .card {
    max-width: 30%;
    max-height: none;
  }
}
