@use '../base/Settings' as *;

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;

  &.bg-transparent {
    background-color: whitesmoke !important;
  }

  &.bg-white {
    background-color: whitesmoke !important;
  }
}

.container-fluid {
  justify-content: space-around !important;

  .navbar-logo {
    margin: auto !important;
  }
}

.navbar-toggler {
  border: none;
  margin: 0;
}

.navbar-logo {
  margin: 0.5rem 0 0.5rem 0.5rem;
  img {
    width: 50px;
    height: 50px;
    margin: auto auto;
  }
}

.span {
  text-align: center;
  font-weight: bolder;
}

.navbar .dropdown-menu {
  background-color: whitesmoke !important;
  transition: background-color 0.3s ease;
}

.navbar .dropdown-menu .dropdown-item {
  color: $color-secondary !important;
  background-color: whitesmoke !important;
  transition: color 0.3s ease;
}

.nav-link {
  color: $color-secondary !important;
  transition: color 0.3s ease;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0.5rem;
  font-size: 20px;
  a {
    margin: 0 0.5rem;
    img {
      width: 30px;
      height: 30px;
    }
  }

  .ytkids {
    text-align: center;
  }
}

// -------------------------------------------------------------------
// Responsive
// -------------------------------------------------------------------

@media (min-width: 768px) {
  .span {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .navbar .container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-self: center;
    padding: 0 2rem;
  }
}
