.fullContainer {
  .container {
    margin-bottom: 2rem;
    h2 {
      text-align: center;
    }
    li {
      list-style-type: square;
      margin-block: 15px;
    }
  }
}

.imagen {
  display: grid;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(17, 44, 199, 0.784);
  cursor: pointer;
}
