@use '../base/Settings' as *;

.textarea {
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;

  resize: vertical;
  overflow: hidden;
  box-sizing: border-box;
}


@media (min-width: 992px) {
  .textarea {
    width: 350px;
  }}