$font-primary: 'Lora', serif;
$color-primary: #0080ff;
$color-secondary: #010c80;
$color-third: #ff7f3e;
$color-fourth: #ffda78;
$color-darkwhite: rgba(245, 245, 245, 0.7);

$content-image-hover-scale: 1.3;

@mixin content-image-hover {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale($content-image-hover-scale);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

html {
  font-size: 100%;
}

body {
  font-family: $font-primary;
  color: $color-secondary;
  position: relative;
  z-index: 1;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/backgroundPage.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8; // 0.3 opacity
  filter: blur(2px); // 2px blur
  z-index: -1;
}
